<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HumaneSociety.Properties.Settings.CustomerDatabaseConnectionString"
            connectionString="Data Source=DESKTOP-6AKH47F;Initial Catalog=CustomerDatabase;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="HumaneSociety.Properties.Settings.AnimalDatabaseConnectionString"
            connectionString="Data Source=DESKTOP-6AKH47F;Initial Catalog=AnimalDatabase;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="HumaneSociety.Properties.Settings.HumaneSocietyConnectionString"
            connectionString="Data Source=DESKTOP-6AKH47F;Initial Catalog=HumaneSociety;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>